.product-display {
    padding: 20px;
}

.product {
    position: relative;
}

.alert {
    position: absolute;
    margin-top: -150px;
    z-index: 6;
    left: 30%;
    height: 130px;
    border-radius: 0px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background:#e7eef3;
    box-shadow: 0px 0px 5px black;
}

.alert h5 {
    font-size: 13px;
    margin-top: 20px;
}

.alert span {
    color: red;
}

.alert .alert_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.alert .alert_btn button {
    border: none;
    outline: none;
    background: #58a6d6;
    color: white;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

.product-display img {
    width: 100%;
    border-radius: 10px;
}

.product-display h1 {
    font-size: 20px;
    font-weight: 700;
}

.product-display .product-price {
    display: flex;
    gap: 30px;
}

.product-oldprice {
    font-size: 23px;
    color: grey;
    text-decoration: line-through red;

}

.product-offerprice {
    font-size: 23px;
}

.product-cart {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-cart .cart-btn {
    border: none;
    outline: none;
    height: 32px;
    background: #58a6d6;
    color: white;
}

.buttonStyle {
    width: 32px;
    height: 32px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    border: 1px solid grey;
}

.inputStyle {
    width: 50px;
    height: 32px;
    text-align: center;
    font-size: 18px;
}

.storage-instruction h5 {
    font-size: 15px;
    font-weight: 700;
}

.storage-instruction p {
    font-size: 13px;
}

.marketed h5 {
    font-size: 15px;
    font-weight: 700;
}

.marketed p {
    font-size: 13px;
}

.marketed img {
    width: 10%;
}

@media screen and (max-width:992px) {

    .product-display h1 {
        font-size: 13px;
        margin-bottom: 0px;
        font-weight: 600;
    }

    .product-display .product-price {
        display: flex;
        gap: 20px;
    }

    .product-oldprice {
        font-size: 16px;
    }

    .product-offerprice {
        font-size: 16px;
    }

    .buttonStyle {
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
    }

    .inputStyle {
        width: 30px;
        height: 22px;
        font-size: 13px;
    }

    .product-cart span {
        font-size: 13px;
    }

    .product-cart .cart-btn {
        height: 22px;
        color: white;
        font-size: 13px;
    }

    .product_description {
        font-size: 10px;
    }

    .storage-instruction h5 {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .storage-instruction p {
        font-size: 10px;
    }
    .marketed h5 {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 0px;
    }
    
    .marketed p {
        font-size: 10px;
    }
    .alert {
        margin-top: -130px;
        left: 20%;
        height: 130px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

@media screen and (max-width:576px) {
    .product-display {
        padding: 10px;
    }

    .marketed img {
        width: 15%;
    }

    .alert {
        position: absolute;
        margin-top: -150px;
        z-index: 6;
        left: 10%;
        height: 140px;
        margin-left: 30px;
        margin-right: 60px;
        border-radius: 0px;
        padding-left: 30px;
        padding-right: 30px; 
        box-shadow: 0px 0px 5px black;
    }
    
    .alert h5 {
        font-size: 10px;
        margin-top: 40px;
    }
    
    .alert span {
        color: red;
    }
    
    .alert .alert_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .alert .alert_btn button {
        border: none;
        outline: none;
        color: white;
        font-size: 6px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: 400;
    }
    .product .row{
        display: flex;
        flex-direction: column-reverse;
    }
}